<table class='table'>
  <thead>
    <tr>
      <th style="width: 10%">image</th>
      <th style="width: 10%">name</th>
      <th colspan="2" style="width: 35%"></th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, size: '80x80' %></td>
        <td><%= user.name %></td>
        <td>フォロー数:<%= user.following.count %></td>
        <td>フォロワー数:<%= user.followers.count %></td>
        <td><%= render partial: 'users/follow_form', locals:{user: user } if !(user == current_user)%></td>
<!--今回一番てこずったのが、↑のrenderメソッド。「partial:」と特に「locals:{}」の記述がなかったばかりに、上手く変数を渡すことができず、機能を正常に実装できずに一日を費やした。-->
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
