<div id="star-rate<%= @book.id %>"></div>
  <script>
    new Raty(document.querySelector('[star-rate<%= @book.id %>]'), {
      size     : 36,
      score: 3,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      half: false,
      score: <%= @book.star %>,
    }).init();
  </script>